<!doctype html>
<html class="no-js" lang="zxx" ng-app="resonanceClientApp" ng-controller="mainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{appName}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="app/images/favicon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Bootstrap Fremwork Main Css -->
    <link rel="stylesheet" href="app/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/owl.carousel.min.css">
    <link rel="stylesheet" href="app/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="app/css/core.css">
    <!-- All Plugins css -->
    <link rel="stylesheet" href="app/css/plugins.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="app/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="app/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="app/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="app/css/custom.css">

    <link href="vendor/angular-ui-notification/dist/angular-ui-notification.min.css"  rel="stylesheet"/>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Body main wrapper start -->
<div class="wrapper fixed__footer">
    <!-- Start Header Style -->
    <header id="header" class="htc-header">
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-6">
                        <div class="logo">
                            <a href="index.html">
                                <img src="app/images/resonance-word-mark.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <!-- Start MAinmenu Ares -->
                    <div class="col-md-8 col-lg-8 d-none d-md-block">
                        <nav class="mainmenu__nav  d-none d-lg-block">
                            <ul class="main__menu">
                                <li class="drop"><a href="#!/home">Home</a>
                                </li>
                                <li><a href="#!/shop">Shop</a></li>
                                <li><a href="#!/my-orders">My Orders</a></li>
                            </ul>
                        </nav>

                        <div class="mobile-menu clearfix d-block d-lg-none">
                            <nav id="mobile_dropdown">
                                <ul>
                                    <li><a href="#!/home">Home</a></li>
                                    <li><a href="#!/shop">shop</a></li>
                                    <li><a href="#!/my-orders">My Orders</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End MAinmenu Ares -->
                    <div class="col-md-2 col-lg-2 col-6">
                        <ul class="menu-extra">
                            <li ui-sref-active="active"><a href="#!/login-register"><span class="ti-user"></span></a></li>
                            <li class="cart__menu"><span class="ti-shopping-cart" id="cartNumber">({{numberOfItems()}})</span></li>
                            <li class="toggle__menu d-none d-md-block"><span class="ti-menu"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-menu-area"></div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </header>
    <!-- End Header Style -->
    <div class="body__overlay"></div>
    <!-- Start Offset Wrapper -->
    <div class="offset__wrapper">
        <!-- Start Search Popap -->
        <div class="search__area">
            <div class="container" >
                <div class="row" >
                    <div class="col-md-12" >
                        <div class="search__inner">
                            <form action="#" method="get">
                                <input placeholder="Search here... " type="text">
                                <button type="submit"></button>
                            </form>
                            <div class="search__close__btn">
                                <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Popap -->
        <!-- Start Offset MEnu -->
        <div class="offsetmenu">
            <div class="offsetmenu__inner">
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="offset__widget">
                    <div class="offset__single">
                        <h4 class="offset__title">Current User</h4>
                        <ul>
                            <li><a href="#"> Name </a></li>
                            <li><a href="#"> Email </a></li>
                        </ul>
                    </div>
                    <div class="offset__single">
                        <h4 class="offset__title" id="profileUsername">{{user.username}}</h4>
                        <ul>
                            <li><a href="#" id="profileName">{{user['First Name']}} {{user['Last Name']}}</a></li>
                            <li><a href="#" id="profileEmail">{{user.email}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="htc__login__btn mt--30">
                    <h4 class="offset__title"></h4>
                    <ul class="">
                        <li><button ng-click="logout()"><a ui-sref="#" href="" title="LogOut">LogOut</a></button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Offset MEnu -->
        <!-- Start Cart Panel -->
        <div class="shopping__cart">
            <div class="shopping__cart__inner">
                <div class="offsetmenu__close__btn">
                    <a ui-sref="#" href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="shp__cart__wrap">
                    <div class="shp__single__product" ng-repeat="cartA in cart | limitTo: 4">
                        <div class="shp__pro__thumb">
                            <a href="#!/product/{{cartA.id}}">
                                <img ng-repeat="picture in cartA.fields.Picture |  limitTo: 1" src="{{picture.url}}" alt="{{cartA.fields.Name}}">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">{{cartA.fields.Name}}</a></h2>
                            <span class="quantity">{{cartA.quantity}}</span>
                            <span class="shp__price">{{cartA.fields['Unit Cost'] | currency : 'USD$' : 2}}</span>
                        </div>
                        <div class="remove__btn">
                            <a ng-click="removeFromCart(cartA.id)" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="shoping__total">
                    <li class="subtotal">Subtotal:</li>
                    <li class="total__price">{{cartTotal() | currency : 'USD$' : 2}}</li>
                </ul>
                <ul class="shopping__btn">
                    <li><a href="#!/cart">View Cart</a></li>
<!--                    <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>-->
                </ul>
            </div>
        </div>
        <!-- End Cart Panel -->
    </div>
    <!-- End Offset Wrapper -->
    <!-- Start Offset Wrapper -->
    <div class="offset__wrapper">
        <!-- Start Search Popap -->
        <div class="search__area">
            <div class="container" >
                <div class="row" >
                    <div class="col-md-12" >
                        <div class="search__inner">
                            <form action="#" method="get">
                                <input placeholder="Search here... " type="text">
                                <button type="submit"></button>
                            </form>
                            <div class="search__close__btn">
                                <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Popap -->
    </div>
    <!-- End Offset Wrapper -->
    <!-- Start Slider Area -->
    <div class="slider__container slider--one" ng-show="path == '/home'">
        <div class="slider__activation__wrap owl-carousel owl-theme">
            <!-- Start Single Slide -->
            <div class="slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url(app/images/slider/bg/1.png) no-repeat scroll center center / cover ;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                            <div class="slider__inner">
                                <h1>New Product <span class="text--theme">Collection</span></h1>
                                <div class="slider__btn">
                                    <a class="htc__btn" href="#!/shop">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slide -->
            <!-- Start Single Slide -->
<!--            <div class="slide slider__full&#45;&#45;screen" style="background: rgba(0, 0, 0, 0) url(app/images/slider/bg/2.png) no-repeat scroll center center / cover ;">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">-->
<!--                            <div class="slider__inner">-->
<!--                                <h1>New Product <span class="text&#45;&#45;theme">Collection</span></h1>-->
<!--                                <div class="slider__btn">-->
<!--                                    <a class="htc__btn" href="cart.html">shop now</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!-- End Single Slide -->
        </div>
    </div>
    <!-- Start Slider Area -->
    <!--main here-->
    <div class="" ui-view></div>

    <!-- Start Footer Area -->
    <footer class="htc__foooter__area" style="background: rgba(0, 0, 0, 0) url(app/images/bg/1.jpg) no-repeat scroll center center / cover ;">
        <div class="container">
            <div class="row footer__container clearfix">
                <!-- Start Single Footer Widget -->
                <div class="col-md-6 col-lg-3 col-sm-6">
                    <div class="ft__widget">
                        <div class="ft__logo">
                            <a href="index.html">
                                <img src="app/images/resonance-word-mark.png" alt="footer logo">
                            </a>
                        </div>
                        <div class="footer__details">
                            <p>Get 10% discount with notified about the latest products we have.</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Footer Widget -->
                <!-- Start Single Footer Widget -->
                <div class="col-md-6 col-lg-3 col-sm-6 smb-30 xmt-30">
                    <div class="ft__widget">
                        <h2 class="ft__title">Newsletter</h2>
                        <div class="newsletter__form">
                            <div class="input__box">
                                <div id="mc_embed_signup">
                                    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                                        <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                            <div class="news__input">
                                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                            </div>
                                            <div class="clearfix subscribe__btn"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Footer Widget -->
                <!-- Start Single Footer Widget -->
                <div class="col-md-6 col-lg-3 col-sm-6 smt-30 xmt-30">
                    <div class="ft__widget contact__us">
                        <h2 class="ft__title">Contact Us</h2>
                        <div class="footer__inner">
                            <p> 319 Clematis St. <br> Suite 100 WPB, FL 33401 </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Footer Widget -->
            </div>
            <!-- Start Copyright Area -->
            <div class="htc__copyright__area">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="copyright__inner">
                            <div class="copyright">
                                <p>© 2018 <a href="https://freethemescloud.com/" target="_blank">Free themes Cloud</a>
                                    All Right Reserved.</p>
                            </div>
                            <ul class="footer__menu">
                                <li><a href="#!/home">Home</a></li>
                                <li><a href="#!/shop">Shop</a></li>
                                <li><a href="#!/my-orders">My Orders</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Area -->
        </div>
    </footer>
    <!-- End Footer Area -->
</div>
<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="app/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Bootstrap Framework js -->
<script src="app/js/popper.min.js"></script>
<script src="app/js/bootstrap.min.js"></script>
<!-- All js plugins included in this file. -->
<script src="app/js/plugins.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="app/js/main.js"></script>


<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular-resource/angular-resource.min.js"></script>
<script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="vendor/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
<script src="vendor/crypto-js/crypto-js.js"></script>
<script src="app/build/js/app.js"></script>

</body>

</html>